@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://unpkg.com/nes.css/css/nes.css");

html,
body,
pre,
code,
kbd,
samp {
    font-family: "Press Start 2P";
}

html {
    height: 100%;
    background: linear-gradient(to bottom left, #33ccff 0%, #66ff99 100%);
    background-repeat: no-repeat;
}

.contactCard {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
    background: #000000;
}

.content {
    color: aqua;
    width: 350px;
    padding: 30px;
    text-align: center;
}

.content>p>a {
    text-decoration: none;
    color: aqua;
}
